*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}
